<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Other Page</title>
<script src="/js/userManagement.js"></script>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>


	<table id="userTable" border="1">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>BirthDate</th>
		</tr>
	</table>
	<button onClick=fetchUsers()>Update Data</button>
	<br>
	<input type="text" name="name" id="name"><br> 
	<input type="email" name="email" id="email"><br>
	<input type="date" name="birthDate" id="birthDate"><br>
	<button onClick=addUser()>Add User</button>
</body>
</html>

